<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments.html :: save-form-head"></head>
<body>
<header th:replace="fragments.html :: header"></header>
<div class="container">
    <div>
        <div class="py-5 text-center">
            <h2>레시피 수정</h2>
        </div>
        <div class="row justify-content-center">
            <div class="needs-validation col-sm-10">
                <div class="form-group">
                    <label for="id">게시물 번호</label>
                    <p id="id" th:text="${recipe.id}"></p>
                </div>
                <div class="form-group">
                    <label for="thumbnail">대표 사진</label>
                    <br>
                    <input type="file" id="thumbnail" />
                    <img class="img-thumbnail" id="image" th:src="${recipe.thumbnail}"/>
                    <small id="thumbnail-help" class="form-text text-muted">
                        대표 사진을 등록하세요.
                    </small>
                    <small class="invalid-feedback">이미지만 선택할 수 있습니다.</small>
                </div>
                <div class="form-group">
                    <label for="title">레시피</label>
                    <input id="title" type="text" class="form-control" placeholder="음식 이름" aria-describedby="titleHelp"
                           required min="1" th:value="${recipe.title}">
                    <small id="titleHelp" class="form-text text-muted">
                        어떤 음식인지 입력하세요.
                    </small>
                    <small class="invalid-feedback">음식 이름을 입력하세요</small>
                </div>
                <div class="form-group">
                    <label for="title">짧은 설명</label>
                    <input id="description" type="text" class="form-control" placeholder="짧은 소개"
                           aria-describedby="descriptionHelp" required min="1" th:value="${recipe.description}">
                    <small id="descriptionHelp" class="form-text text-muted">
                        음식을 짧게 소개 해주세요.
                    </small>
                    <small class="invalid-feedback">음식 이름을 입력하세요</small>
                </div>
                <div class="form-group">
                    <label for="ingredients">재료</label>
                    <input id="ingredients" type="text" class="form-control" placeholder="재료를 입력하세요." name='basic'
                           aria-describedby="ingredientsHelp" required min="1" th:value="${recipe.ingredients}">

                    <small id="ingredientsHelp" class="form-text text-muted">
                        재료는 콤마(,)로 구분하세요.
                    </small>
                    <small class="invalid-feedback">재료를 입력하세요.</small>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-3">
                        <label for="cooking-time">요리 시간(분)</label>
                        <input id="cooking-time" type="number" class="form-control" placeholder="0"
                               aria-describedby="cooking-time-help" value="10">
                        <small id="cooking-time-help" class="form-text text-muted">
                            숫자만 입력 가능합니다.
                        </small>
                        <small class="invalid-feedback">숫자만 입력 가능합니다.</small>
                    </div>

                </div>
                <div class="form-group">
                    <label for="description">요리 과정</label>
                    <textarea id="full-description" type="textarea" class="editor form-control"
                              placeholder="레시피를 소개해주세요." aria-describedby="full-description-help"
                              required>[[${recipe.fullDescription}]]</textarea>
                    <small id="full-description-help" class="form-text text-muted">
                        요리 과정, 주의할 사항에 대해 써주세요.
                    </small>
                </div>
                <div class="form-group">
                    <a class="btn btn-success btn-block" th:href="@{/recipe(id=${recipe.id}, page=${param.page}, keyword=${param.keyword})}"
                            aria-describedby="submitHelp">취소</a>
                </div>
                <div class="form-group">
                    <button id="btn-submit" class="btn btn-warning btn-block" type="submit"
                            aria-describedby="submitHelp">레시피 수정</button>
                </div>
                <div class="form-group">
                    <button id="btn-remove" class="btn btn-danger btn-block" type="submit"
                            aria-describedby="submitHelp">레시피 삭제</button>
                </div>
            </div>
        </div>
    </div>
</div>
<footer th:replace="fragments.html :: footer"></footer>
<th:block th:replace="fragments.html :: tagify('/recipe/'+${recipe.id}, 'PUT')"></th:block>
<th:block th:replace="fragments.html :: summernote"></th:block>
<script>
    const btnHandle = {
        init : function() {
            document.getElementById('btn-remove').addEventListener('click', ()=>{
                this.remove();
            });
        },

        remove : function () {
            if (confirm('정말 삭제하겠습니까?')) {
                const xhr = new XMLHttpRequest();
                const removeTargetId = document.getElementById('id').innerText;

                xhr.open('delete', '/recipe/' + removeTargetId);
                xhr.setRequestHeader('Content-Type', 'application/json');
                xhr.send();

                xhr.onload = function () {
                    if (xhr.status === 200 || xhr.status === 201) {
                        window.location.href = '/';
                        alert('삭제되었습니다.');
                        return;
                    }
                    console.log(xhr.responseText);
                }
            }
        }
    }

    btnHandle.init();

</script>
</body>
</html>