<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments.html :: head"></head>
<body>
<header th:replace="fragments.html :: header"></header>
<div class="container">
    <div>
        <div class="py-5 text-center">
            <h2>레시피 등록</h2>
        </div>
        <div class="row justify-content-center">
            <div class="needs-validation col-sm-10">
                <div class="form-row">
                    <div class="form-group col-md-3">
                        <label for="cooking-time">글쓴이</label>
                        <h3><span th:text="${member.nickname}"></span></h3>
                    </div>
                </div>
                <div class="form-group">
                    <label for="thumbnail">대표 사진</label>
                    <br>
                    <input type="file" id="thumbnail"/>
                    <img class="img-thumbnail" id="image"/>
                    <small id="thumbnail-help" class="form-text text-muted">
                        대표 사진을 등록하세요.
                    </small>
                    <small class="invalid-feedback">이미지만 선택할 수 있습니다.</small>
                </div>
                <div class="form-group">
                    <label for="title">레시피</label>
                    <input id="title" type="text" class="form-control" placeholder="음식 이름" aria-describedby="titleHelp"
                           required min="1">
                    <small id="titleHelp" class="form-text text-muted">
                        어떤 음식인지 입력하세요.
                    </small>
                    <small class="invalid-feedback">음식 이름을 입력하세요</small>
                </div>
                <div class="form-group">
                    <label for="title">짧은 설명</label>
                    <input id="description" type="text" class="form-control" placeholder="짧은 소개"
                           aria-describedby="descriptionHelp" required min="1">
                    <small id="descriptionHelp" class="form-text text-muted">
                        음식을 짧게 소개 해주세요.
                    </small>
                    <small class="invalid-feedback">음식 이름을 입력하세요</small>
                </div>
                <div class="form-group">
                    <label for="ingredients">재료</label>
                    <input id="ingredients" type="text" class="form-control" placeholder="재료를 입력하세요." name='basic'
                           aria-describedby="ingredientsHelp" required min="1">
                    <small id="ingredientsHelp" class="form-text text-muted">
                        재료는 콤마(,)로 구분하세요.
                    </small>
                    <small class="invalid-feedback">재료를 입력하세요.</small>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-3">
                        <label for="cooking-time">요리 시간(분)</label>
                        <input id="cooking-time" type="number" class="form-control" placeholder="0"
                               aria-describedby="cooking-time-help" value="10">
                        <small id="cooking-time-help" class="form-text text-muted">
                            숫자만 입력 가능합니다.
                        </small>
                        <small class="invalid-feedback">숫자만 입력 가능합니다.</small>
                    </div>

                </div>
                <div class="form-group">
                    <label for="full-description">요리 과정</label>
                    <textarea id="full-description" type="textarea" class="editor form-control"
                              placeholder="레시피를 소개해주세요." aria-describedby="full-description-help" required></textarea>
                    <small id="full-description-help" class="form-text text-muted">
                        요리 과정, 주의할 사항에 대해 써주세요.
                    </small>
                </div>
                <div class="form-group">
                    <button id="btn-submit" class="btn btn-primary btn-block" type="submit"
                            aria-describedby="submitHelp">레시피 등록
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<footer th:replace="fragments.html :: footer"></footer>

<th:block th:replace="fragments.html :: summernote"></th:block>
<th:block th:replace="fragments.html :: tagify('/api/recipe', 'post')"></th:block>
</body>
</html>