### npm ###
src/main/resources/static/node_modules
src/main/resources/static/node

### properties ###
src/main/resources/application-mail.properties
src/main/resources/application-runtime.properties
src/main/resources/**.csv

HELP.md
.gradle
build/

!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/z
