<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments.html :: head"></head>
<body>
<header th:replace="fragments.html :: header"></header>
<div class="container">
    <div class="py-5 text-center">
        <img src="/img/login.png" class="col-sm-2">
        <br>
        <h6><b>RECIPE</b></h6>
        <h1>비밀번호 변경</h1>
    </div>
    <div class="row justify-content-center">
        <div class="needs-validation col-sm-5" action="#" method="post" novalidate>
            <div class="form-group">
                <label for="password">비밀번호</label>
                <input id="password" class="form-control" value="123456788"
                       aria-describedby="passwordHelp" type="password" required
                       minlength="8" maxlength="50">
                <small id="passwordHelp" class="form-text text-muted">
                    8자 이상으로 입력하세요. 공백은 사용할 수 없습니다.
                </small>
                <small class="invalid-feedback">비밀번호를 입력하세요</small><br>
                <small class="form-text text-danger" id="password-warn"></small>
            </div>
            <div class="form-group">
                <label for="password">비밀번호 확인</label>
                <input id="password-confirm" class="form-control" value="123456788"
                       aria-describedby="password-confirm-help" type="password" required
                       minlength="8" maxlength="50">
                <small id="password-confirm-help" class="form-text text-muted">
                    8자 이상으로 입력하세요. 공백은 사용할 수 없습니다.
                </small><br>
                <small class="form-text text-danger" id="password-confirm-warn"></small>
            </div>
            <div class="form-group">
                <button id="btn-submit" class="btn btn-warning btn-block mt-3" type="submit"
                        aria-describedby="submitHelp">비밀번호 변경</button>
            </div>
        </div>
    </div>
    <footer th:replace="fragments.html :: footer"></footer>
</div>

<script src="/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>

<script>
    const btn = {
        init : function () {
            document.getElementById('btn-submit').addEventListener('click', () => {
                this.change();
            });
        },

        change : function () {
            const data = {
                password        :   document.getElementById('password').value,
                confirmPassword :   document.getElementById('password-confirm').value
            }

            let xhr = new XMLHttpRequest();

            xhr.open('PUT', '/api/member/password')
            xhr.setRequestHeader('Content-Type', 'application/json');
            xhr.send(JSON.stringify(data));

            xhr.onload = function () {
                if (xhr.status === 200 || xhr.status === 201) {
                    window.location.href='/logout';
                    alert('비밀번호가 변경되었습니다. 다시 로그인하세요.');
                    return;
                }
                switch (xhr.responseText) {
                    case 'confirmPassword' :
                        document.getElementById('password-confirm-warn').innerText='비밀번호가 일치하지 않습니다.';
                        break;

                    case 'password' :
                        document.getElementById('password-warn').innerText='비밀번호는 8자 이상입니다.';
                        break;
                }
            }


        }
    }

    btn.init();
</script>
</body>
</html>