<header th:replace="/includes/header.html"></header>
<div class="col-xl-7 ftco-animate">
  <form th:action="@{/member/signup}" method="post" class="bg-white p-5 contact-form">
    <h3 class="mb-4 billing-heading">회원가입</h3>
    <div class="row align-items-end">
      <div class="col-md-6">
        <div class="form-group">
          <label for="firstname">아이디</label>
          <input type="text" name="id" class="form-control" placeholder="아이디를 입력하세요">
        </div>
      </div>

      <div class="w-100"></div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="towncity">비밀번호</label>
          <input type="password" name="password" class="form-control" placeholder="비밀번호를 입력하세요">
        </div>
      </div>

      <div class="w-100"></div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="phone">이름</label>
          <input type="text" name="name" class="form-control">
        </div>
      </div>
      <div class="w-100"></div>
      <input type="submit" value="등록" class="btn btn-primary">
      <!-- hidden input추가 -->
      <input type='hidden' id='token' name="token">
  </form><!-- END -->
</div>

<script>
  // 바로 새창띄우기
  var result = ""; // 토큰을 받을 변수
  var tokenURL = ""; // 알림을 허용해서 토큰을 받아올 URL
  window.onload = () => {
    // test3 Url을 들어갈 경우 바로 test.html을 호출시킨다.
    // document.getElementById("tokenURL").click();
    tokenURL = this.open("https://django-1b7a8.web.app/getToken.html", "_blank");
    console.log("window.onload");

  }
  // 메시지 수신 받는 eventListener 등록
  window.addEventListener('message', receiveMsgFromChild);
  console.log("next");
  // 
  function receiveMsgFromChild(e) {
    // e.data가 전달받은 메시지
    console.log("e.data : " + e.data.currentToken);
    result = e.data.currentToken;
    // 회원가입시 hidden값으로 토큰을 보내서
    // 가입한 사람에게 고유의 토큰을 가지게 한다.
    document.getElementById('token').value = result;
    if (e.data.permission === "granted") {
      tokenURL.close();
    }
  }

</script>

<footer th:replace="/includes/footer.html"></footer>