<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments.html :: head"></head>
<body>
<header th:replace="fragments.html :: header"></header>
<div class="container">
    <div class="py-5 text-center">
        <img src="img/login.png" class="col-sm-2 rounded mx-auto d-block w-10 h-10 img-fluid">
        <br>
        <h6><b>RECIPE</b></h6>
        <h1>이메일로 로그인하기</h1>
    </div>
    <div class="row justify-content-center">
        <div class="needs-validation col-sm-5" action="#" method="post" novalidate>
            <div class="form-group">
                <label for="username">이메일</label>
                <input id="username" type="text" name="username" class="form-control"
                       placeholder="이메일을 입력하세요." aria-describedby="emailHelp" required>
                <small id="emailHelp" class="form-text text-muted">
                    가입할 때 사용한 이메일을 입력하세요. 로그인 메일이 발송됩니다.
                </small>
                <small class="invalid-feedback">이메일을 입력하세요.</small>
                <small id="submitHelp" class="form-text text-muted"><br>
                    처음이라면 <a href="#" th:href="@{/signup}">계정을 먼저 만드세요.</a>
                </small>
            </div>
            <div class="form-group">
                <button id="send-mail-btn" class="btn btn-warning btn-block mt-3" type="submit"
                        aria-describedby="submitHelp">메일 발송</button>
            </div>
        </div>
    </div>
    <footer th:replace="fragments.html :: footer"></footer>
</div>

<script src="/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>

<script>
    const btn = {
        init : function () {
            document.getElementById('send-mail-btn').addEventListener('click', () => {
                const email = document.getElementById('username').value;
                const xhr = new XMLHttpRequest();

                xhr.open('PUT', '/api/withoutPasswordLogin')
                xhr.setRequestHeader('Content-Type', 'application/json');
                xhr.send(email);

                xhr.onload = function () {
                    if (xhr.status === 200 || xhr.status === 201) {
                        alert('이메일이 발송되었습니다.');
                        return;
                    }
                    alert(xhr.responseText);
                }
            });
        }
    }

    btn.init();
</script>

</body>
</html>