<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:fragment="head">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>레시피닷컴</title>

    <link rel="stylesheet" href="/node_modules/bootstrap-icons/font/bootstrap-icons.css">
    <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.min.css">
</head>
<head th:fragment="save-form-head">
    <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/node_modules/bootstrap-icons/font/bootstrap-icons.css">

    <!-- tag -->
    <link rel="stylesheet" href="/node_modules/@yaireo/tagify/dist/tagify.css"/>

    <!-- summernote-->
    <script type="text/javascript" src="/node_modules/jquery/dist/jquery.min.js"></script>
    <script src="/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <link href="/node_modules/summernote/dist/summernote-bs4.min.css" rel="stylesheet">
    <script src="/node_modules/summernote/dist/summernote.js"></script>

    <!-- cropper js-->
    <link href="/node_modules/cropperjs/dist/cropper.css" rel="stylesheet">
    <script src="/node_modules/cropperjs/dist/cropper.js"></script>

    <title>레시피</title>
</head>
<body>
    <!-- 삭제 예정-->
    <nav th:fragment="nav" class="navbar navbar-expand-md navbar-light" style="background-color: #FCFAFA;">
            <div class="container" >
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <a class="navbar-brand" th:href="@{/}" href="/"><img src="images/logo.png"></a>
                <div class="collapse navbar-collapse justify-content-end" id="navbarTogglerDemo03">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="#">Search</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Recipe</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">About</a>
                        </li>
                        <li class="nav-item" sec:authorize="isAnonymous()">
                            <a class="nav-link" th:href="@{/login}" href="/login">Login</a>
                        </li>
                        <li class="nav-item" sec:authorize="isAuthenticated()">
                            <div class="dropdown nav-item">
                                <span class="btn dropdown-toggle nav-link"
                                        id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                                        sec:authentication="principal.username">
                                </span>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item" th:href="@{/myfridge}">마이 냉장고</a>
                                    <a class="dropdown-item" th:href="@{/logout}">Logout</a>
                                </div>
                            </div>
                        </li>

                    </ul>
                </div>
            </div>
        </nav>

    <!-- nav bar -->
    <header th:fragment="header">
        <div class="collapse bg-dark" id="navbarHeader">
            <div class="container">
                <div class="row">
                    <div class="col-sm-8 col-md-7 py-4">
                        <h4 class="text-white">장고 레시피</h4>
                        <p class="text-muted">자신만의 레시피를 등록하고 공유해보세요.</p>
                    </div>
                    <div sec:authorize="isAnonymous()" class="col-sm-4 offset-md-1 py-4">
                        <h4 class="text-white"><b>로그인 하세요!</b></h4>
                        <ul class="list-unstyled">
                            <li><a href="/login" class="text-white">로그인</a></li>
                        </ul>
                    </div>
                    <div sec:authorize="isAuthenticated()" class="col-sm-4 offset-md-1 py-4">
                        <h4 class="text-white"><strong><span th:text="${#authentication.name}"></span></strong></h4>
                        <ul class="list-unstyled">
                            <li><a href="/register" class="text-white">레시피 등록</a></li>
                            <li><a href="/login" class="text-white">회원정보</a></li>
                            <li><a href="/logout" class="text-white">로그아웃</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="navbar navbar-dark bg-dark shadow-sm">
            <div class="container d-flex">
                <a href="/" class="navbar-brand mr-auto p-2">
                    <strong><i class="bi bi-journal-album"></i> 레시피북</strong>
                </a>
                <button class="navbar-toggler p-2" type="button" data-bs-toggle="collapse" data-bs-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
        </div>
    </header>

    <!-- footer -->
    <footer class="text-muted py-5" th:fragment="footer">
        <div class="container">
            <p class="float-end mb-1">
                <a href="#">맨 위로</a>
            </p>
            <p class="mb-1">다양한 레시피를 추천 받을 수 있습니다.</p>
            <p class="mb-0">아직 회원이 아니신가요? <a href="/signup">회원가입</a>하고 이용하세요.</p>
        </div>
    </footer>

    <th:block th:fragment="tagify(url, method)">
        <script src="/node_modules/@yaireo/tagify/dist/tagify.min.js"></script>
        <script th:inline="javascript">
            window.onload = function () {
                // The DOM element you wish to replace with Tagify
                let input = document.querySelector('input[name=basic]');
                let ingredients;
                let tagify = new Tagify(input, {
                    originalInputValueFormat: valuesArr => valuesArr.map(item => item.value).join(',')
                })
                const submitBtn = document.getElementById('btn-submit');

                input.addEventListener('change', onChange)

                submitBtn.addEventListener('click', requestSave);

                function onChange(e) {
                    // outputs a String
                    console.log(e.target.value)
                    ingredients = e.target.value;
                }

                console.log(input.value)

                function requestSave() {
                    const xhr = new XMLHttpRequest();
                    const data = {
                        thumbnail       :   document.getElementById("image").src,
                        title           :   document.getElementById('title').value,
                        description     :   document.getElementById('description').value,
                        ingredients     :   ingredients,
                        cookingTime     :   document.getElementById('cooking-time').value,
                        fullDescription :   document.getElementById('full-description').value,
                        member          :   [[${member}]]
                    }

                    const URL = [[${url}]]
                    const method = [[${method}]]

                    xhr.open(method, URL)
                    xhr.setRequestHeader('Content-Type', 'application/json')
                    xhr.send(JSON.stringify(data))

                    xhr.onload = function () {
                        if (xhr.status === 200 || xhr.status === 201) {
                            console.log(xhr.responseText)
                            window.location.href='/recipe?id='+xhr.responseText;
                        } else {
                            console.log(xhr.responseText)
                        }
                    }
                }

                //file upload
                document.getElementById("thumbnail").onchange = function () {
                    var reader = new FileReader();

                    reader.onload = function (e) {
                        // get loaded data and render thumbnail.
                        document.getElementById("image").src = e.target.result;
                        console.log(e.target.result);
                    };

                    // read the image file as a data URL.
                    reader.readAsDataURL(this.files[0]);
                };
            }
        </script>
    </th:block>
    <th:block th:fragment="summernote">
        <script>
            $(document).ready(function () {
                $('.editor').summernote({
                    fontNames: ['Arial', 'Arial Black', 'Comic Sans MS', 'Courier New', 'Noto Sans KR', 'Merriweather'],
                    placeholder: '레시피를 소개해주세요.',
                    tabsize: 2,
                    height: 300
                })
            });
        </script>
    </th:block>
</body>
</html>