<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns="http://www.w3.org/1999/html">
<head th:fragment="head">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel=" shortcut icon" href="favicon.ico">
    <link rel="icon" href="img/favicon.ico">

    <!-- bootstrap -->
    <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/node_modules/bootstrap-icons/font/bootstrap-icons.css">

    <script src="/node_modules/jquery/dist/jquery.min.js"></script>
    <script src="/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

    <!-- tag -->
    <link rel="stylesheet" href="/node_modules/@yaireo/tagify/dist/tagify.css"/>

    <!-- summernote-->
    <link href="/node_modules/summernote/dist/summernote-lite.min.css" rel="stylesheet">

    <!-- cropper js-->
    <link href="/node_modules/cropperjs/dist/cropper.css" rel="stylesheet">
    <script src="/node_modules/cropperjs/dist/cropper.js"></script>

    <title>레시피야</title>
</head>
<body>
    <!-- nav bar -->
    <header th:fragment="header">
        <nav class="">
        <div class="collapse bg-dark" id="navbarHeader">
            <div class="container">
                <div class="row">
                    <div class="col-sm-8 col-md-7 py-4">
                        <h4 class="text-white"> 레시피야!</h4>
                        <p class="text-muted">자신만의 레시피를 등록하고 공유해보세요.</p>
                    </div>
                    <div sec:authorize="isAnonymous()" class="col-sm-4 offset-md-1 py-4">
                        <h4 class="text-white"><b>로그인 하세요!</b></h4>
                        <ul class="list-unstyled">
                            <li><a href="/login" class="text-white">로그인</a></li>
                        </ul>
                    </div>
                    <div sec:authorize="isAuthenticated()" class="col-sm-4 offset-md-1 py-4">
                        <h4 class="text-white"><strong><span th:text="${#authentication.name}"></span></strong></h4>
                        <ul class="list-unstyled">
                            <li><a href="/myrecipe" class="text-white text-decoration-none mt-3">내 게시물</a></li>
                            <li><a href="/register" class="text-white text-decoration-none mt-3">레시피 등록</a></li>
                            <li><a href="/setting" class="text-white text-decoration-none mt-3">회원정보</a></li>
                            <li><a href="/logout" class="text-white text-decoration-none mt-3">로그아웃</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <nav class="navbar navbar-dark bg-dark shadow-sm">
            <div class="container d-flex">
                <a href="/" class="navbar-brand mr-auto p-2">
                    <strong><i class="bi bi-journal-album"></i> 레시피야</strong>
                </a>
                <div class="inline-block">
                    <span class="d-inline-block" tabindex="0" data-toggle="tooltip" title="내가 스크랩한 레시피">
                        <a class="text-warning p-2 h4" href="/scrap">
                            <i class="bi bi-bookmark-heart-fill"></i></a>
                    </span>
                <button id="toggle-btn" class="navbar-toggler" type="button" data-bs-toggle="collapse" aria-controls="navbarToggleExternalContent" data-bs-target="#navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                </div>
            </div>
        </nav>
        </nav>
    </header>

    <!-- footer -->
    <footer class="text-muted py-5" th:fragment="footer">
        <div class="container">
            <p class="float-end mb-1">
                <a href="#">맨 위로</a>
            </p>
            <p class="mb-1">다양한 레시피를 추천 받을 수 있습니다.</p>
            <p class="mb-0">아직 회원이 아니신가요? <a href="/signup">회원가입</a>하고 이용하세요.</p>
        </div>
    </footer>

    <th:block th:fragment="tagify(url, method)">
        <script src="/node_modules/@yaireo/tagify/dist/tagify.min.js"></script>
        <script th:inline="javascript">
            window.onload = function () {
                // The DOM element you wish to replace with Tagify
                let input = document.querySelector('input[name=basic]');
                let ingredients;
                let tagify = new Tagify(input, {
                    originalInputValueFormat: valuesArr => valuesArr.map(item => item.value).join(',')
                })
                const submitBtn = document.getElementById('btn-submit');

                input.addEventListener('change', onChange)

                submitBtn.addEventListener('click', requestSave);

                function onChange(e) {
                    // outputs a String
                    console.log(e.target.value)
                    ingredients = e.target.value;
                }

                function requestSave() {
                    const xhr = new XMLHttpRequest();
                    const data = {
                        thumbnail       :   document.getElementById("image").src,
                        title           :   document.getElementById('title').value,
                        description     :   document.getElementById('description').value,
                        ingredients     :   ingredients,
                        cookingTime     :   document.getElementById('cooking-time').value,
                        fullDescription :   document.getElementById('full-description').value,
                        member          :   [[${member}]]
                    }

                    const URL = [[${url}]]
                    const method = [[${method}]]

                    xhr.open(method, URL)
                    xhr.setRequestHeader('Content-Type', 'application/json')
                    xhr.send(JSON.stringify(data))

                    xhr.onload = function () {
                        if (xhr.status === 200 || xhr.status === 201) {
                            console.log(xhr.responseText)
                            window.location.href='/recipe?id='+xhr.responseText;
                        } else {
                            console.log(xhr.responseText)
                        }
                    }
                }

                //file upload
                document.getElementById("thumbnail").onchange = function () {
                    var reader = new FileReader();
                    reader.onload = function (e) {
                        // get loaded data and render thumbnail.
                        //썸네일 파일
                        let file = document.getElementById("thumbnail").files[0];
                        var form_data = new FormData();
                        form_data.append('files', file);

                        //썸네일 업로드
                        $.ajax({
                            data: form_data,
                            type: "POST",
                            url: '/file-upload',
                            cache: false,
                            contentType: false,
                            enctype: 'multipart/form-data',
                            processData: false,
                            success: function(img_name) {
                                console.dir(img_name)
                                console.dir(img_name.body)
                                document.getElementById("image").src = img_name.body;
                            }
                        });
                    };
                    // read the image file as a data URL.
                    reader.readAsDataURL(this.files[0]);
                };
            }
        </script>
    </th:block>
    <th:block th:fragment="summernote">
        <script src="/node_modules/summernote/dist/summernote-lite.js"></script>
        <script>
            $(document).ready(function () {
                $('.editor').summernote({
                    fontNames: ['Arial', 'Arial Black', 'Comic Sans MS', 'Courier New', 'Noto Sans KR', 'Merriweather'],
                    placeholder: '레시피를 소개해주세요.',
                    tabsize: 2,
                    height: 300,
                    callbacks: {
                        onImageUpload: function(files, editor, welEditable) {
                            for (var i = files.length - 1; i >= 0; i--) {
                                sendFile(files[i], this);
                            }
                        }
                    }
                }); //editor

                function sendFile(file, el) {
                    console.log(file)
                    var form_data = new FormData();
                    form_data.append('files', file);
                    $.ajax({
                        data: form_data,
                        type: "POST",
                        url: '/file-upload',
                        cache: false,
                        contentType: false,
                        enctype: 'multipart/form-data',
                        processData: false,
                        success: function(img_name) {
                            console.dir(img_name)
                            console.dir(img_name.body)
                            $(el).summernote('editor.insertImage', img_name.body);
                        }
                    });
                }
            });
        </script>
    </th:block>
</body>
</html>