<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments.html :: head"></head>
<body>
<header th:replace="fragments.html :: header"></header>
<div th:if="${member!=null && !member.verified}" class="alert alert-warning text-center" role="alert">
    <h5><span th:text="${member.nickname}"></span> 님 이메일 인증 후 이용해주세요.</h5>
    <h6><a id="re-sendmail" href="/">인증 메일 재발송</a></h6>
</div>

<div th:if="${error != null}" class="alert alert-danger text-center" role="alert">
    <h5 th:text="${error}"></h5>
</div>

<div th:if="${verified != null}" class="alert alert-primary text-center" role="alert">
    <h5><p th:text="${verified}"></p></h5>
</div>

<section class="py-5 text-center container">
    <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
            <div class="container d-flex align-items-center flex-column">
                <img src="img/mac.gif" class="img-fluid">
<!--                <h1><strong>Recipe.com</strong></h1>-->
                <div class="form-inline">
                    <input class="form-control mr-sm-2" id="keyword" type="search" placeholder="레시피를 검색하세요." aria-label="Search">
                    <button class="btn btn-warning my-2 my-sm-0 text-light" id="search-btn" type="submit">찾기</button>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="album py-5 bg-light">
    <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            <div class="col" th:each="recipe : ${recipes}">
                <div class="card shadow-sm">
                    <a th:href="@{/recipe(id=${recipe.id}, page=${recipes.number}, keyword=${param.keyword})}" class="text-decoration-none text-reset">
                    <img class="bd-placeholder-img card-img-top img-thumbnail" th:src="${recipe.thumbnail}">
                    <div class="card-body">
                        <h3 th:text="${recipe.title}"></h3>
                        <p class="card-text" th:text="${recipe.description}">text</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <small class="text-muted">9 mins</small>
                        </div>
                    </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="mt-4"
             th:with="start=${(recipes.number/maxPage)*maxPage + 1},
                  end=(${(recipes.totalPages == 0) ? 1 : (start + (maxPage - 1) < recipes.totalPages ? start + (maxPage - 1) : recipes.totalPages)})" >
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center">
                    <li class="page-item" th:if="${start > 1}">
                        <a class="page-link" th:href="@{'?page='+${start - maxPage - 1}}">이전</a>
                    </li>
                    <li class="page-item" th:classappend="${page-1 == recipes.number}? active"
                        th:each="page : ${#numbers.sequence(start, end)}">
                        <a class="page-link" th:href="@{/(page=${page-1}, keyword=${param.keyword})}"><span th:text="${page}"></span></a>
                    </li>
                    <li class="page-item" th:if="${end < recipes.totalPages}">
                        <a class="page-link" th:href="@{'?page='+${start+maxPage - 1}}">다음</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>

<footer th:replace="fragments.html :: footer"></footer>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>

<script>
    const event = {
        init : function () {
            document.getElementById('search-btn').addEventListener('click', () => {
                if (keyword.length != 0 || keyword.trim() === '') {
                    const keyword = document.getElementById('keyword').value;
                    window.location.href='/?keyword='+keyword;
                }
            });
            const reSendmailLink = document.getElementById('re-sendmail');
            if (reSendmailLink !== null) {
                reSendmailLink.addEventListener('click', (e) => {
                    e.preventDefault()
                    this.reSendmail();
                });
            }

        },

        reSendmail : function () {
            const xhr = new XMLHttpRequest();

            xhr.open('PUT', '/re-sendmail');
            xhr.setRequestHeader('Content-Type', 'application/json');
            xhr.send();

            xhr.onload = function () {
                if (xhr.status === 200 || xhr.status === 201) {
                    alert('메일을 재발송했습니다.');
                    return;
                }
                console.error(xhr.responseText);
            }

        }
    }
    event.init();
</script>

</body>
</html>