<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <!-- Fontawesome -->

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">

    <!-- Google Font -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@200;900&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="css/styles.css">

    <title>마이장고</title>
</head>
<body>



<div class="container-fluid" id="header">

    <nav class="navbar navbar-expand-md navbar-light">
        <div class="container">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand" href="#"><img src="images/logo.png"></a>


            <div class="collapse navbar-collapse justify-content-end" id="navbarTogglerDemo03">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="#">Search</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Recipe</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Login</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- hero section -->
    <div class="container" id="hero">
        <div class="row justify-content-end">
            <div class="col-lg-6 hero-img-container">
                <a href="./single.html">
                    <div class="hero-img">
                        <img src="images/mac.gif">
                    </div>
                </a>
            </div>

            <div class="col-lg-7">
                <div class="hero-title">
                    <a href="./single.html">
                        <h1>마이장고</h1>
                    </a>
                </div>

            </div>

            <div class="col-lg-6">
                <div class="hero-meta">
                    <p>냉장고를 열었을 때 지금까지 본 적 없던 세계가 펼쳐졌다.
                        이건 무슨 냄새일까? 어떤 지구인도 맡아보지 못했을 냄새였다.
                        아직 누구도 가보지 않은 미지의 세계를 향해 나아가던 대항해시대(大航海時代)의 선원들처럼
                        우리는 혼돈의 냉장고 속을 파헤치기 시작했다.
                        <small><i>세계 냉장고 평화기구 마이장고</i></small>
                    </p>
                    <div class="author">
                        <div class="author-img"><img src="images/cook.png"></div>
                        <div class="author-meta">
                            <span class="author-name"><a href="http://www.github.com/cocodori/my-jango_bitcamp_153th_final_project" target="_blank">
                                @cocodori</a></span>
                            <span class="author-tag">TEAM SLAMDUNK</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- hero ends -->

<!-- Article Grid -->

<div class="container mt-2 mb-2 pt-5 pb-5" id="article-grid">
    <div class="row justify-content-center">

        <div class="col-xl-6 col-lg-12 text-center">
            <a href="./single.html">
                <div class="article-card">
                    <div class="article-img">
                        <img src="http://www.foodsafetykorea.go.kr/uploadimg/cook/10_00017_2.png">
                    </div>

                    <div class="article-meta text-left">
                        <h2>칼륨 듬뿍 고구마죽</h2>
                        <p>고구마죽 고구마 100g(2/3개), 설탕 2g(1/3작은술), 찹쌀가루 3g(2/3작은술),물 200ml(1컵), 잣 8g(8알)</p>
                    </div>
                </div>
            </a>
        </div>

        <div class="col-xl-6 col-lg-12  text-center">
            <a href="./single.html">
                <div class="article-card">
                    <div class="article-img">
                        <img src="http://www.foodsafetykorea.go.kr/uploadimg/cook/10_00016_2.png">
                    </div>

                    <div class="article-meta  text-left">
                        <h2>누룽지 두부 계란죽</h2>
                        <p>채소준비 애호박 30g(1/6개), 표고버섯 20g(2개), 당근 5g(3×2×1cm) 누룽지 죽 누룽지 70g(1/3컵)...</p>
                    </div>
                </div>
            </a>
        </div>

        <div class="col-xl-6 col-lg-12 text-center">
            <a href="./single.html">
                <div class="article-card">
                    <div class="article-img">
                        <img src="http://www.foodsafetykorea.go.kr/uploadimg/cook/10_00009_2.png">
                    </div>

                    <div class="article-meta  text-left">
                        <h2>오색지라시 스시</h2>
                        <p>초밥 밥 210g(1공기) 배합초 식초 20g(1⅓큰술), 설탕 10g(2작은술), 소금 약간 오색지라시 달걀노른자...</p>
                    </div>
                </div>
            </a>
        </div>

        <div class="col-xl-6 col-lg-12 text-center">
            <a href="./single.html">
                <div class="article-card">
                    <div class="article-img">
                        <img src="http://www.foodsafetykorea.go.kr/uploadimg/cook/10_00010_2.png">
                    </div>

                    <div class="article-meta text-left">
                        <h2>두부 곤약 나물 비빔밥</h2>
                        <p>두부 곤약잡곡밥 두부 110g(⅓모), 흰쌀 15g, 현미쌀 3g, 찹쌀 3g, 실곤약 3g 나물준비 콩나물 15g(15개)...</p>
                    </div>
                </div>
            </a>
        </div>

        <div class="col-xl-6 col-lg-12 text-center">
            <a href="./single.html">
                <div class="article-card">
                    <div class="article-img">
                        <img src="http://www.foodsafetykorea.go.kr/uploadimg/cook/10_00011_2.png">
                    </div>

                    <div class="article-meta text-left">
                        <h2>저염 간장을 이용한 닭개장 비빔밥</h2>
                        <p>흑미밥 쌀 90g, 검은 쌀 10g 닭가슴살 삶기 닭가슴살 40g(1/3개), 월계수 잎 2장, 후추 약간 나물준비 숙주...</p>
                    </div>
                </div>
            </a>
        </div>

        <div class="col-xl-6 col-lg-12 text-center">
            <a href="./single.html">
                <div class="article-card">
                    <div class="article-img">
                        <img src="http://www.foodsafetykorea.go.kr/uploadimg/cook/10_00012_2.png">
                    </div>

                    <div class="article-meta text-left">
                        <h2>취나물 비빔밥 & 청국장 쌈장</h2>
                        <p>And his we not quickly tin, but distance, the best of client would of concise plan past.</p>
                    </div>
                </div>
            </a>
        </div>



        <div class="col-xl-6 col-lg-12 text-center">
            <a href="./single.html">
                <div class="article-card">
                    <div class="article-img">
                        <img src="http://www.foodsafetykorea.go.kr/uploadimg/cook/10_00013_2.png">
                    </div>

                    <div class="article-meta text-left">
                        <h2>해물 채소장을 넣은 곰취 쌈밥</h2>
                        <p>취나물밥 밥 210g(1공기), 다진 쇠고기 20g(1⅓큰술), 취나물 20g(8줄기), 다진 양파 5g...	</p>
                    </div>
                </div>
            </a>
        </div>



        <div class="col-xl-6 col-lg-12 text-center">
            <a href="./single.html">
                <div class="article-card">
                    <div class="article-img">
                        <img src="http://www.foodsafetykorea.go.kr/uploadimg/cook/10_00014_2.png">
                    </div>

                    <div class="article-meta text-left">
                        <h2>단호박 케일밥</h2>
                        <p>잡곡밥 잡곡밥 140g(2/3공기) 곰취쌈 곰취 30g, 소금 약간 해물채소장 조갯살 10g, 새우살 10g, 오징어살 15g...</p>
                    </div>
                </div>
            </a>
        </div>



        <div class="col-xl-6 col-lg-12 text-center">
            <a href="./single.html">
                <div class="article-card">
                    <div class="article-img">
                        <img src="http://www.foodsafetykorea.go.kr/uploadimg/cook/10_00015_2.png">
                    </div>

                    <div class="article-meta text-left">
                        <h2>오색영양밥 롤</h2>
                        <p>단호박찰밥 찹쌀 100g, 밤 30g(3개), 은행 20g(8알), 잣 10g(10알), 단호박 40g(4×8cm), 대추 5g(2개)...</p>
                    </div>
                </div>
            </a>
        </div>



        <div class="col-xl-6 col-lg-12 text-center">
            <a href="./single.html">
                <div class="article-card">
                    <div class="article-img">
                        <img src="http://www.foodsafetykorea.go.kr/uploadimg/cook/10_00028_2.png">
                    </div>

                    <div class="article-meta text-left">
                        <h2>새우 두부 계란찜</h2>
                        <p>새우두부계란찜 연두부 75g(3/4모), 칵테일새우 20g(5마리), 달걀 30g(1/2개), 생크림 13g(1큰술)...</p>
                    </div>
                </div>
            </a>
        </div>

    </div> <!-- Article Grid Row Ends -->
</div> <!-- Article Grid Container Ends -->

<!-- More articles button -->

<div class="container text-center pb-3 mb-5">
    <a href="#" class="btn btn-lg btn-light">More Recipes</a>
</div>


<!-- Footer section  -->

<footer class="container-fluid mt-1 p-4">
    <div class="container ">
        <div class="row pb-1">
            <!-- Footer logo -->
            <div class="col-lg-3 col-md-12"><img src="images/logo.png"></div>

            <!-- footer links -->
            <div class="col-lg-6 col-md-12">
                <ul class="nav justify-content-center">
                    <li class="nav-item">
                        <a class="nav-link" href="#">Search</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#recipe">Recipe</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Login</a>
                    </li>
                </ul>
            </div>

            <!-- footer social links -->
            <div class="col-lg-3 col-md-12">
                <ul class="nav justify-content-end">
                    <li class="nav-item">
                        <a class="nav-link active btn btn-light" href="#"><i class="fab fa-facebook-f"></i></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active btn btn-light" href="#"><i class="fab fa-google"></i></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active btn btn-light" href="#"><i class="fab fa-twitter"></i></a>
                    </li>
                </ul>

            </div>

            <hr>
        </div>
        <hr>

        <!-- copyright text -->
        <div class="row pt-2">
            <div class="col-lg-12 text-center">
                <span>&copy <a href="">NewToDesign.com</a> All Rights Received.</span>
            </div>
        </div>
    </div>
</footer>


<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html>