<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments.html :: head"></head>
<body>
<header th:replace="fragments.html :: header"></header>
<div class="container">
    <div class="py-5 text-center">
        <img src="img/login.png" class="col-sm-2">
        <br>
        <h6><b>RECIPE</b></h6>
        <h1>로그인</h1>
    </div>
    <div class="row justify-content-center">
        <div th:if="${param.error != null}" class="alert alert-danger" role="alert">
            <p>아이디 또는 비밀번호가 다릅니다.</p>
            <p>비밀번호를 잊으셨나요? <a href="/withoutPasswordLogin">여기</a>로 이동하세요.</p>
            <p><strong>준비 중입니다...</strong></p>
        </div>
        <form class="needs-validation col-sm-5" action="#" th:action="@{/login}" method="post" novalidate>
            <div class="form-group">
                <label for="username">이메일</label>
                <input id="username" type="text" name="username" class="form-control"
                       placeholder="your@email.com" aria-describedby="emailHelp" required>
                <small id="emailHelp" class="form-text text-muted">
                    가입할 때 사용한 이메일 또는 닉네임을 입력하세요.
                </small>
                <small class="invalid-feedback">이메일을 입력하세요.</small>
            </div>
            <div class="form-group">
                <label for="password">비밀번호</label>
                <input id="password" type="password" name="password" class="form-control"
                       aria-describedby="passwordHelp" required>
                <small id="passwordHelp" class="form-text text-muted">
                    비밀번호를 잊으셨나요? <a href="/withoutPasswordLogin">비밀번호 없이 로그인하기</a>
                </small>
                <small class="invalid-feedback">패스워드를 입력하세요.</small>
            </div>

            <div class="form-group form-check">
                <input type="checkbox" class="form-check-input" id="rememberMe" name="remember-me" checked>
                <label class="form-check-label" for="rememberMe" aria-describedby="rememberMeHelp">로그인 유지</label>
            </div>

            <div class="form-group">
                <button class="btn btn-warning btn-block" type="submit"
                        aria-describedby="submitHelp">로그인</button>
                <small id="submitHelp" class="form-text text-muted">
                   처음이라면 <a href="#" th:href="@{/signup}">계정을 먼저 만드세요.</a>
                </small>
            </div>
        </form>
    </div>
    <footer th:replace="fragments.html :: footer"></footer>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>

</body>
</html>