<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments.html :: head">
    <style>
        body {
            background-color: #FCFAFA;
        }
    </style>
</head>
<body>
<nav th:replace="fragments.html :: nav"></nav>
<div class="container" id="hero">
    <h3 class="mb-4">회원가입</h3>

    <div class="col-md-6">
      <div class="form-group">
        <label for="name">이름</label>
        <input type="text" id="name" class="form-control" placeholder="아이디를 입력하세요"
        value="김모기">
      </div>
    </div>

    <div class="col-md-6">
        <div class="form-group">
            <label for="username">아이디</label>
            <input type="text" id="username" class="form-control" placeholder="아이디를 입력하세요"
            value="cocoboy">
        </div>
    </div>

    <div class="col-md-6">
        <div class="form-group">
            <label for="password">비밀번호</label>
            <input type="password" name="password" id="password" class="form-control" placeholder="비밀번호를 입력하세요"
            value="asdf1234">
        </div>
    </div>

    <div class="col-md-6">
        <div class="form-group">
            <label for="password-confirm">비밀번호 확인</label>
            <input type="password" id="password-confirm" class="form-control" placeholder="비밀번호를 입력하세요"
                   value="asdf1234">
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
          <button id="btn-signup" class="btn btn-primary">회원가입</button>
        </div>
    </div>

    <a th:href="@{/login}">이미 아이디가 있습니다.</a>
</div>

<script>
    const handler = {
        init : function () {
            const signupBtn = document.getElementById('btn-signup');

            signupBtn.addEventListener('click', () => {
                this.signupSubmit();
            });

        },

        signupSubmit : function () {
            const xhr = new XMLHttpRequest();

            xhr.onload = function () {
                if (xhr.status === 200 || xhr.status === 201) {
                    window.location.href='/';
                    alert(xhr.responseText+'님 가입을 축하합니다.');
                    return;
                }
                console.error(xhr.responseText);
             }

            const data = {
                name : document.getElementById('name').value,
                account : document.getElementById('username').value,
                password : document.getElementById('password').value,
                confirmPassword : document.getElementById('password-confirm').value
            }
            xhr.open('POST', '/signup')
            xhr.setRequestHeader('Content-Type', 'application/json')
            xhr.send(JSON.stringify(data));
        }
    }

    handler.init();
</script>

</body>
</html>